.addressForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.inputRow {
	display: flex;
	gap: 0.5rem;
}

.inputRow > :first-child {
	flex: 1;
}

.inputRow > :last-child {
	flex: 0 0 110px;
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

.buttonsContainer button {
	width: 100%;
	padding: 0.5rem 0;

	font-size: 1rem;

	border-radius: 0.5rem;

	cursor: pointer;
	transition: background-color 0.2s linear;
}

.buttonsContainer .submitButton {
	border: none;
	background-color: var(--primary-color);
}

.buttonsContainer .submitButton:hover {
	background-color: var(--dark-primary-color);
}

.buttonsContainer .cancelButton {
	border: 1px solid var(--primary-color);
	background: none;
}

.buttonsContainer .cancelButton:hover {
	border: 1px solid var(--dark-primary-color);
}

.buttonsContainer .removeButton {
	border: none;
	background: none;
}

.buttonsContainer .removeButton:hover {
	text-decoration: underline;
}

.cepError {
	color: var(--danger-color);
}
