.container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.container header {
	display: flex;
	justify-content: center;
}

.container header h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
}

.ordersList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.orderCard {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border: 3px solid var(--primary-color);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.orderCardHeader {
	display: flex;
	justify-content: space-between;
}

.orderCardHeader h3 {
	all: unset;

	font-size: 1rem;
	font-weight: bold;
}

.orderCardHeader p {
	font-size: 0.875rem;
}

.orderCardContent {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.orderCardContent div {
	display: flex;
	justify-content: space-between;
}
