.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 0.75rem;

	background-color: var(--secondary-color);
}

.homeLink,
.cartLink {
	padding: 0.5rem;
}

.homeLink img {
	height: 18px;
	width: auto;
}
